

.container{
    width: 100%;
    height: 100%;
}


.jsxComponentsContainer{
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    display: flex;
}



.fullBackground  {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    object-fit: cover;
}

.blackForeground{
    width: 100%;
    height: 100dvh;
}

.img{
    object-fit: cover;
    object-position: center;
}