.container{
    width: 40px;
    height: 20px;
    position: relative;
    border-radius: 20px;
}

.text{
    position: absolute;
    left: -2rem;
}

.rond{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 20px;
    transition: all 1s ease;
}

.toRight{
    right: 0;
}

.toLeft{
    left: 0;
}