
.container{
    gap: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.themes{
    gap: 20px;
    padding: 20px;
    display: flex;
    position: relative;
    background-color: #2a2a2b !important;
}


.themes .iconImageContainer{
    right: 10px;
    bottom: 5px;
    padding: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 10px;
    justify-content:center ;
    background-color: rgba(8, 8, 8, 0.405);
    transition: background-color 2s ease;
}


.icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.imageManagerSection{
    display: flex;
    position: relative;
    justify-content: center;
}


.imageManagerSection .bubbleMessageSection{
    top: 20%;
    gap: 25px;
    display: flex;
    position: absolute;
    pointer-events: none;
    flex-direction: column;
}

.imageManagerSection .bubbleMessageSection *{
    margin: 0 10px;
}

.themes .iconImageContainer:hover{
    background-color: rgb(82, 77, 77);
}



.fontSizeLetterSection{
    gap: 10px;
    display: flex;
}


.fontSizeLetterSection div{
    padding: 7px;
    display: flex;
    height: 20px;
    border-radius: 3px;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.405);
    transition: background-color 2s ease;
}


.fontSizeLetterSection div:hover{
    background-color: #2a2a2b;
}


.fontSizeLetterSection .isActive{
    color: #2a2a2b;
    background-color: white;
}
