.container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 22;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center; 
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    padding: 10px;
    padding-bottom: 30px;
    text-wrap: wrap;
    border-radius: 8px;
    position: relative;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    position: relative;
    background-color: black;
}

.children {
    z-index: 100;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
    gap: 10px;
    bottom: 7px;
    right: 15px;
    z-index: 10;
    display: flex;
    position: absolute;
}

.buttonContainer > * {
    padding: 5px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    pointer-events: all;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out;
}

.buttonContainer > *:hover{
    background-image: linear-gradient(to right, #e100ff, #008cff);
}

/* .buttonContainer > button + button {
    padding: 5px 20px;
} */