
.container{
    border: none;
    outline: none;
    height: 330px;
    margin: 10px 0;
    overflow: hidden;
    object-fit: cover;
    border-radius: 30px;
}



@media (width <= 821px) {
    .container{
      height: 120px;
    }      
}

@media (max-width: 299px){
    .container{
      height: 80px;
    } 
}
