.bubble {
    width: 350px;
    font-size: 14px;
    font-size: 17px;
    position: relative;
    border-radius: 15px;
    padding: 9px 15px 9px 15px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
  }
  
  /* Message envoyé (à droite) */
  .sent {
    color: white;
    align-self: flex-end;
    background-color: var(--sender-container-background-color);
  }

  .time{
    display: flex;
    margin-top:5px ;
    font-size: 10px;
    margin-right: 5px;
    justify-content: flex-end;
  }
  
  .sent::after {
    content: "";
    right: 0;
    width: 0;
    height: 0;
    bottom: -5px;
    position: absolute;
    border-left: 10px solid transparent;
    border-top: 10px solid var(--sender-border-dynamic-color);
    border-right: 10px solid var(--sender-border-dynamic-color);
    border-bottom: 10px solid transparent;
  }
  
  /* Message reçu (à gauche) */
  .received {
    background-color: var(--receiver-container-background-color) ;
    color: black;
    align-self: flex-start;
  }
  
  .received::after {
    width: 0;
    bottom: 0;
    height: 0;
    left: 0px;
    content: "";
    bottom: -5px;
    z-index: -10;
    position: absolute;
    border-top: 10px solid var(--receive-border-background-color);
    border-left: 10px solid var(--receive-border-background-color);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

