
.container{
    gap: 5px;
    right: 0;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: var(--message-sender-height);
    background-color: rgb(43, 43, 43, var(--opacityBackground));
}



.container >  input {
    width: 85%;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    background-color: transparent;
}



.container >  .inputbefore{
    width: 1.5px;
    height: 25px;
    margin-right: 5px;
    background-color: white;

}



.input{
    color: white;
}



.input::placeholder{
    color: white;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}



.container >  img {
    width: 20px;
    padding: 5px;
    cursor: pointer;
}



.container >  img:hover {
    width: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s ease;
    background-color: rgb(55, 56, 57);
}



.recorders{
    position: relative;
    /* background: red; */
}



.recorders, .optionsPart{
    gap: 15px;
    display: flex;
    align-items: center;
}



.icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    transition: all 1s ease;
}



.activate:hover{
    border-radius: 10px;
    background-color: rgb(55, 56, 57);
}



.sendingOptions{
    display: none;
}


@media (max-width: 430px){

    .recorders{
        margin-right: 5px;
    }

    .recorders, .optionsPart{
        gap: 5px;
    }

    .recorders > .optionsPart.showBox > .iconSet  .overlayTrigger{
        width: 25px;
        height: 25px;
    }

    .recorders > .optionsPart.showBox > .iconSet > .overlayTrigger > div {     /* the aboutOverlay components wrapped around the audio recorder */
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px 0 0 10px;
    }

    .recorders > .optionsPart.showBox > .iconSet > .overlayTrigger > div > div{  /*  the audio recorder components */
        inset: 0;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content:flex-end;
        transform: translateX(25%);
    } 


    .recorders img{
        width: 20px;
        height: 20px;
    }

    .recorders > .optionsPart.showBox{
        right: 0;
        gap: 10px;
        z-index: 4;
        bottom: 35px;
        display: flex;
        padding: 12px 4px;
        position: absolute;
        border-radius: 30px;
        flex-direction: column;
        background-color: black;
    }

    .recorders > .optionsPart {
        display: none;
    }

    .recorders > .optionsPart.showBox img{
        width: 25px;
        height: 25px;
    }


    .sendingOptions{
        display: block;
    }

}
