
.container{
    gap: 5px;
    right: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--message-sender-height);
    background-color: rgb(43, 43, 43, var(--opacityBackground));
}

.container >  input {
    width: 85%;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    background-color: transparent;
}

.container >  .inputbefore{
    width: 1.5px;
    height: 25px;
    margin-right: 5px;
    background-color: white;

}

.input{
    color: white;
}

.input::placeholder{
    font-size: 14px;
    color: white;
}

.container >  img {
    width: 20px;
    padding: 5px;
    cursor: pointer;
}

.container >  img:hover {
    width: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s ease;
    background-color: rgb(55, 56, 57);
}

.recorders{
    gap: 20px;
    display: flex;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    transition: all 1s ease;
}

.icon:hover{
    border-radius: 10px;
    background-color: rgb(55, 56, 57);
}


@media (max-width: 299px){

}
