

.topSpace{
    height: 100px;
}

.container{
    left: 50%;
    gap: 10px;
    z-index: 09;
    width:  85%;
    height: 82%;
    margin-top: 89px;
    display: flex;
    color: white;
    overflow-y: auto;
    position: absolute;
    flex-direction: column;
    transform: translateX(-50%);
}

.container::-webkit-scrollbar {
    display: none;
}

.emptyChatContainer{
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}

.emptyChatContainer > img {
    width: 50px;
}

.bottomSpace{
    height: 500px;
}