
.topSpace{
    height: 100px;
}

.container{
    gap: 25px;
    width: 900px;
    display: flex;
    color: white;
    height: 490px;
    margin-top: 20px;
    overflow-y: scroll;
    flex-direction: column;
}

.container::-webkit-scrollbar {
    display: none;
}

.emptyChatContainer{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.emptyChatContainer > img {
    width: 50px;
}

.bottomSpace{
    height: 500px;
}