


.themesContainer{
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blue;
}

.topSpace{
    height: 100px;
}

.container{
    gap: 25px;
    width: 900px;
    display: flex;
    color: white;
    height: 490px;
    margin-top: 20px;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-end;
}

.container::-webkit-scrollbar {
    display: none;
}

.emptyChatContainer{
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}

.emptyChatContainer > img {
    width: 50px;
}

.bottomSpace{
    height: 500px;
}