

.container {
    padding: 0;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.menu{
    top: 30px;
    gap: 20px;
    left: -90px;
    z-index: 220;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.iconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}



.icon{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    overflow: visible;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
}


.cropContainer{
    width: 700px;
    height: 400px;
}