
.audioSection{
    gap: 20px;
    width: 99%;
    border: none;
    display: flex;
    margin-top: -5px;
    padding: 5px 10px;
    margin-left: -10px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: -20px;
    justify-content: center;
    background-color:  rgba(55, 56, 57, 0.365);
}





.icon{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    transition: all 1s ease;
}
  

.gaugeContainer{
    width: 100%;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(8, 8, 8, 0.405);
}

.gauge{
    width: 0%;
    height: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    transition: width 0.2s ease-out;
    background-image: linear-gradient(to right, #e100ff, #008cff);
}

.round{
    right: 0;
    width: 15px;
    height: 15px;
    bottom: -75%;
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    transform: translate(10px, 12%);
    background-image: linear-gradient(to right, #e100ff, #008cff);
}




@media (max-width: 299px){
    .audioSection{
        gap: 9px;
    }
    .icon{
      height: 15px;
    }
    .time{
        font-size: 10px;
    }
}
