

.container{
    gap: 10px;
    width: 240px;
    height: 20px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    background-color: rgb(67, 65, 65) !important;
}


.icon{
    height: 20px;
    width: 20px;
}

.gaugeContainer{
    width: 200px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(8, 8, 8, 0.405);
}


.gauge{
    height: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    background-image: linear-gradient(to right, #e100ff, #008cff);
}

.round{
    right: 0;
    width: 15px;
    height: 15px;
    bottom: -70%;
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    background-image: linear-gradient(to right, #e100ff, #008cff);
}