.container{
    width: 350px;
    color: white;
    position: relative;
    flex-direction: column;
    padding: 20px 0 0 30px;
    background-color: rgb(43, 43, 43, var(--opacityBackground));
    border-right: 1px solid rgb(117, 114, 114);
}

.title{
    gap: 10px;
    margin: 10px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

@media(width <= 656px) {
    .container{
        display: none;
    }
}