
.container{
    gap: 40px;
    padding: 20px;
    display:  flex;
    flex-direction: column;
}

.header{
    gap: 14px;
    display: flex;
    flex-wrap: wrap;
}

.options{
    gap: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
}