.container{
    top: 20px;
    z-index: 20;
    right: 10px;
    gap: 20px;
    display: flex;
    position: absolute;
    z-index: 90;
}

.icon {
    width: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all 1s ease;
}

.icon:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(55, 56, 57);
}